{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'autenticar/css/styles.css' %}">
{% endblock head %}

{% block title %} Redefinição de Senha {% endblock title %}

{% block container %}
  <div class="container-fluid">
    <div class="row">

        <div class="col-md-3 sidebar" style="height: 100vh;">
            <div class="logo_sidebar">
                <h2 class="logo">
                  <img src="{% static 'autenticar/img/RN_logo.png' %}" class="img_logo_sidebar">
                  <img src="{% static 'autenticar/img/logo.png' %}" class="img_logo_sidebar"> 
                </h2>
            </div>

            <div class="corpo_sidebar">
                <div>
                    <p class="cor_branca descricao">Centro de Ação Comunitária de Entidades Organizacionais</p>
                    <p style="margin-top: 10px;" class="cor_branca descricao">Área de Funcionarios</p>
                    <br>
                    <a href="{% url 'cadastro' %}" class="btn btn-secondary">Cadastro</a>
                    <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
                    <br>
                </div>

            </div>
        </div>

        <div class="col-md-9 fundo">
            <div class="area_cadastrar">
                <form action="{% url 'password_reset_confirm' uidb64=uidb64 token=token%}" method="POST">

                  {% csrf_token %}
                  <h2 class="titulo_area_cadastrar">Redefinição de Senha</h2>
                  <br>
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{message.tags}}">
                        {{message}}
                      </div>
                    {% endfor %}
                  {% endif %}
                  <br>
               
                  {{ form.as_custom_form|safe }}
                  
                  <button type="submit" class="btn btn-primary btn_cadastrar" style="background-color: #0f51a1;">Alterar senha</button>
                  <br>
                  <br>
                </form>
            </div>
        </div>

    </div>
  </div>
{% endblock container %}