{% extends "base.html" %}

{% block title %}Adicionar Registro do FGTS, Individualização ou Contabilidade{% endblock title %}

{% block container %}
  <div class="container mt-4">
    <h1>Adicionar Registro do FGTS, Individualização ou Contabilidade</h1>
    <form action="{% url 'adicionar_registro_fgts_ind_con' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="competencia">Competencia:</label>
          <input class="form-control" type="text" placeholder="Competencia" name="competencia" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="nome_empregado">Nome do Empregado:</label>
          <input class="form-control" type="text" placeholder="Nome do Empregado" name="nome_empregado" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="pis">PIS:</label>
          <input class="form-control" type="text" placeholder="PIS" name="pis" id="pis" required><br>
        </fieldset>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var pisInput = document.getElementById("pis");
  
          // Adiciona um evento para formatar o valor quando o foco é perdido
          pisInput.addEventListener("blur", function () {
            // Remove qualquer não dígito
            var cleanedValue = this.value.replace(/\D/g, '');

            // Limita o PIS a até 11 dígitos
            var limitedValue = cleanedValue.substring(0, 11);

            // Formata o valor no estilo "999.99999.99-9"
            var formattedValue = VMasker.toPattern(limitedValue, "999.99999.99-9");

            // Define o valor formatado de volta ao campo
            this.value = formattedValue;
          });
  
          // Adiciona um evento para evitar que mais de 11 dígitos sejam digitados
          pisInput.addEventListener("input", function () {
            // Remove qualquer não dígito
            var cleanedValue = this.value.replace(/\D/g, '');

            // Limita a entrada a 11 dígitos
            if (cleanedValue.length > 11) {
              this.value = cleanedValue.slice(0, 11);
            }
          });
        });
      </script>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="admissao">Admissão:</label>
          <input class="form-control" type="date" name="admissao" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="afastamento">Afastamento:</label>
          <input class="form-control" type="date" name="afastamento" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="cod_afastamento">Código de Afastamento:</label>
          <input class="form-control" type="number" placeholder="Código de Afastamento" name="cod_afastamento" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="fgts">FGTS:</label>
          <input class="form-control" type="number" placeholder="FGTS" name="fgts" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="gfip">GFIP:</label>
          <input class="form-control" type="number" placeholder="GFIP" name="gfip" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="folha_de_pagamento">Folha de Pagamento:</label>
          <input class="form-control" type="text" placeholder="Folha de Pagamento" name="folha_de_pagamento" id="folha_de_pagamento" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="arbitrado">Arbitrado:</label>
          <input class="form-control" type="text" placeholder="Arbitrado" name="arbitrado" id="arbitrado" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="recomposto">Recomposto:</label>
          <input class="form-control" type="text" placeholder="Recomposto" name="recomposto" id="recomposto" required><br>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="rem_debito">REM Débito:</label>
          <input class="form-control" type="text" placeholder="REM Débito" name="rem_debito" id="rem_debito" required><br>
        </fieldset>
      </div>
      
      <button type="submit" class="btn btn-primary">Adicionar Registro</button>
      <br>
    </form>
    <br>
    <script>
      // Adiciona a máscara ao campo de entrada
      VMasker(document.getElementById("folha_de_pagamento")).maskMoney({
        precision: 2,
        separator: ',',
        delimiter: '.',
        unit: 'R$',
        zeroCents: false,
      })

      VMasker(document.getElementById("arbitrado")).maskMoney({
        precision: 2,
        separator: ',',
        delimiter: '.',
        unit: 'R$',
        zeroCents: false,
      })

      VMasker(document.getElementById("recomposto")).maskMoney({
        precision: 2,
        separator: ',',
        delimiter: '.',
        unit: 'R$',
        zeroCents: false,
      })

      VMasker(document.getElementById("rem_debito")).maskMoney({
        precision: 2,
        separator: ',',
        delimiter: '.',
        unit: 'R$',
        zeroCents: false,
      })
    
      // Adiciona um evento para formatar o valor quando o foco é perdido
      document.getElementById("folha_de_pagamento").addEventListener("blur", function() {
        // Remove a máscara e formata o número usando Intl.NumberFormat
        let unmaskedValue = VMasker.toNumber(this.value);
        let formattedValue = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(unmaskedValue / 100);
    
        // Define o valor formatado de volta ao campo
        this.value = formattedValue;
      });

      // Adiciona um evento para formatar o valor quando o foco é perdido
      document.getElementById("arbitrado").addEventListener("blur", function() {
        // Remove a máscara e formata o número usando Intl.NumberFormat
        let unmaskedValue = VMasker.toNumber(this.value);
        let formattedValue = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(unmaskedValue / 100);
    
        // Define o valor formatado de volta ao campo
        this.value = formattedValue;
      });

      // Adiciona um evento para formatar o valor quando o foco é perdido
      document.getElementById("recomposto").addEventListener("blur", function() {
        // Remove a máscara e formata o número usando Intl.NumberFormat
        let unmaskedValue = VMasker.toNumber(this.value);
        let formattedValue = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(unmaskedValue / 100);
    
        // Define o valor formatado de volta ao campo
        this.value = formattedValue;
      });

      // Adiciona um evento para formatar o valor quando o foco é perdido
      document.getElementById("rem_debito").addEventListener("blur", function() {
        // Remove a máscara e formata o número usando Intl.NumberFormat
        let unmaskedValue = VMasker.toNumber(this.value);
        let formattedValue = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(unmaskedValue / 100);
    
        // Define o valor formatado de volta ao campo
        this.value = formattedValue;
      });
      
    </script>
  </div>
{% endblock container %}