{% extends "base.html" %}

{% load static %}

{% block title %}Adicionar{% endblock title %}

{% block container %}
  <div class="container m-5">
    <div class="m-4">
      <h2>Adicionar Novo Registro Geral</h2>
      <a href="{% url 'adicionar_registro' %}" class="btn btn-primary">Adicionar Novo Registro Geral</a>
    </div>
    <div class="m-4">
      <h2>Adicionar Novo Registro da Receita Federal</h2>
      <a href="{% url 'adicionar_registro_rf' %}" class="btn btn-primary">Adicionar Novo Registro da Receita Federal</a>
    </div>
    <div class="m-4">
      <h2>Adicionar Novo Registro do FGTS, Individualização e/ou Contabilidade</h2>
      <a href="{% url 'adicionar_registro_fgts_ind_con' %}" class="btn btn-primary">Adicionar Novo Registro do FGTS, Individualização e/ou Contabilidade</a>
    </div>
    <div class="m-4">
      <h2>Adicionar Novo Registro Adminstrativo</h2>
      <a href="{% url 'adicionar_registro_adminstrativo' %}" class="btn btn-primary">Adicionar Novo Registro Adminstrativo</a>
    </div>
  </div>
{% endblock container %}