{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% load custom_filters %}

{% block title %}Histórico de Registros{% endblock title %}

{% block container %}
  <div class="m-4">
    <h1 class="mb-4">Histórico de Alterações</h1>
    <table class='table table-hover' border="1">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Usuário</th>
                <th>Dados Anteriores</th>
                <th>Dados Atuais</th>
                <th>Dados Alterados</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in historico_registros %}
            <tr>
                <td>{{ registro.acao }}</td>
                <td>{{ registro.data }}</td>
                <td>{{ registro.usuario }}</td>
                <td>
                  {% for key, value in registro.dados_anteriores.items %}
                    <strong>{{ key }}:</strong> {{ value }} <br>
                  {% endfor %}
                </td>
                <td>
                  {% for key, value in registro.dados_atuais.items %}
                    <strong>{{ key }}:</strong> {{ value }} <br>
                  {% endfor %}
                </td>
                <td>
                  <ul>
                      {% for alteracao in registro.dados_alterados %}
                        <li><strong>{{ alteracao.0 }}</strong>: {{ alteracao.1 }} -> {{ alteracao.2 }}</li>
                      {% endfor %}
                  </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock container %}