{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block container %}
  {% include "visualizar_tabela.html" %}
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function removeModalBackdrop() {
      // Adiciona um ouvinte para o evento 'hidden.bs.modal' antes de remover o backdrop
      $('.modal').on('hidden.bs.modal', function () {
        $(this).next('.modal-backdrop').remove();
      });
    }
    
    $(document).ready(function () {
      // Inicializa todos os modais com id começando por "notificationModal"
      $('[id^=notificationModal]').modal('show');
    
      // Adiciona evento para quando o modal for totalmente fechado
      $('body').on('hidden.bs.modal', '.modal', function () {
        // Obtém o ID do próximo modal a ser exibido
        var nextModalId = $(this).find('[data-next-modal]').data('next-modal');
    
        // Verifica se há um próximo modal e o exibe
        if (nextModalId) {
          $('#' + nextModalId).modal('show');
        }
      });
    
      // Adiciona evento ao botão "Close" para chamar a função de remoção do backdrop
      $('#customCloseButton').on('click', function () {
        // Oculta o modal antes de remover o backdrop
        $('[id^=notificationModal]').modal('hide');
        removeModalBackdrop();
      });
    });
  </script>
  <div class="m-4">
    <h2>Adicionar Novo Registro</h2>
    <a href="{% url 'adicionar_registro' %}" class="btn btn-primary">Adicionar Novo Registro</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Nome</h2>
    <a href="{% url 'adicionar_nome' %}" class="btn btn-primary">Adicionar Novo Nome</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Orgão/Setor</h2>
    <a href="{% url 'adicionar_orgao_setor' %}" class="btn btn-primary">Adicionar Novo Orgão/Setor</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Município</h2>
    <a href="{% url 'adicionar_municipio' %}" class="btn btn-primary">Adicionar Novo Município</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Nova Atividade</h2>
    <a href="{% url 'adicionar_atividade' %}" class="btn btn-primary">Adicionar Nova Atividade</a>
  </div>
{% endblock container %}