{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block container %}
  {% include "visualizar_tabela.html" %}

  {% comment %} <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}

  {% for registro in registros %}
    {% with dias_restantes=registro.exibir_modal_prazo_vigencia.1 %}
      {% if dias_restantes <= 30 %}
        <!-- Modal -->
        <div class="modal fade" id="notificationModal{{ registro.id }}" tabindex="-1" aria-labelledby="notificationModalLabel{{ registro.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel{{ registro.id }}">Notificação de Prazo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-custom-close-button="{{ registro.id }}">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                <p>O convênio {{ registro.num_convenio }} está com o prazo de vigência próximo do seu vencimento. Restam {{ dias_restantes }} dias.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-next-modal="{{ registro.next_modal }}">Next</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-custom-close-button="{{ registro.id }}">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Scripts adicionais para controle de modais -->
        <script>
          $(document).ready(function () {
            // Adiciona evento ao botão "Close" para chamar a função de remoção do backdrop
            $('button[data-custom-close-button]').on('click', function () {
              // Oculta o modal antes de remover o backdrop
              var modalId = $(this).data('custom-close-button');
              $('#notificationModal' + modalId).modal('hide');
            });

            // Adiciona evento para quando o modal for totalmente fechado
            $('body').on('hidden.bs.modal', '.modal', function () {
              // Remove o backdrop
              $('.modal-backdrop').remove();

              // Obtém o ID do próximo modal a ser exibido
              var nextModalId = $(this).find('[data-next-modal]').data('next-modal');
          
              // Verifica se há um próximo modal e o exibe
              if (nextModalId) {
                $('#' + nextModalId).modal('show');
              }
            });

            // Inicializa todos os modais com id começando por "notificationModal"
            $('[id^=notificationModal]').modal('show');
          });
        </script>
      {% endif %}
    {% endwith %}
  {% endfor %}

  {% for registro in registros %}
    {% with dias_restantes=registro.exibir_modal_prazo_vigencia.1 %}
      {% if dias_restantes <= 30 %}
        <!-- Modal -->
        <div class="modal fade" id="notificationModal{{ registro.id }}" tabindex="-1" aria-labelledby="notificationModalLabel{{ registro.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel{{ registro.id }}">Notificação de Prazo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-custom-close-button="{{ registro.id }}">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                <p>O convênio {{ registro.num_convenio }} está com o prazo de vigência próximo do seu vencimento. Restam {{ dias_restantes }} dias.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-next-modal="{{ registro.next_modal }}">Next</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-custom-close-button="{{ registro.id }}">Close</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Scripts adicionais para controle de modais -->
        <script>
          $('.modal-backdrop').remove();

          var tableContainer = $('.table-container');

          // Adiciona uma função de rolagem ao contêiner da tabela
          tableContainer.scroll(function () {
            var leftOffset = tableContainer.scrollLeft();
            $('.col-fixed').css('left', leftOffset);
          });

          $(document).ready(function () {
            var tableContainer = $('.table-container');

            // Adiciona uma função de rolagem ao contêiner da tabela
            tableContainer.scroll(function () {
                var leftOffset = tableContainer.scrollLeft();
                $('.col-fixed').css('left', leftOffset);
            });

            $(document).on('hidden.bs.modal', '.modal', function () {
                // Remove o backdrop apenas se não houver próximo modal
                var nextModalId = $(this).find('[data-next-modal]').data('next-modal');
                
                if (!nextModalId) {
                    $('.modal-backdrop').remove();
                }
            });

            // Inicializa todos os modais com id começando por "notificationModal"
            $('[id^=notificationModal]').modal('show');
          });
        </script>
      {% endif %}
    {% endwith %}
  {% endfor %}

  
  <div class="m-4">
    <h2>Adicionar Novo Registro</h2>
    <a href="{% url 'adicionar_registro' %}" class="btn btn-primary">Adicionar Novo Registro</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Registro da Receita Federal</h2>
    <a href="{% url 'adicionar_registro_rf' %}" class="btn btn-primary">Adicionar Novo Registro da Receita Federal</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Registro do FGTS, Individualização e/ou Contabilidade</h2>
    <a href="{% url 'adicionar_registro_fgts_ind_con' %}" class="btn btn-primary">Adicionar Novo Registro do FGTS, Individualização e/ou Contabilidade</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Registro Adminstrativo</h2>
    <a href="{% url 'adicionar_registro_adminstrativo' %}" class="btn btn-primary">Adicionar Novo Registro Adminstrativo</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Nome</h2>
    <a href="{% url 'adicionar_nome' %}" class="btn btn-primary">Adicionar Novo Nome</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Orgão/Setor</h2>
    <a href="{% url 'adicionar_orgao_setor' %}" class="btn btn-primary">Adicionar Novo Orgão/Setor</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Novo Município</h2>
    <a href="{% url 'adicionar_municipio' %}" class="btn btn-primary">Adicionar Novo Município</a>
  </div>
  <div class="m-4">
    <h2>Adicionar Nova Atividade</h2>
    <a href="{% url 'adicionar_atividade' %}" class="btn btn-primary">Adicionar Nova Atividade</a>
  </div>
{% endblock container %}

