{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block container %}
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container {
      width: 1344px;
      height: 539px;
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4 columns */
      gap: 10px; /* Espaçamento entre os botões */
      justify-content: center;
      align-content: center;
    }

    .button {
      width: 254px;
      height: 97px;
      border-radius: 15px;
      background: #0f51a1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff; /* Cor do texto dentro do botão */
      font-size: 16px; /* Tamanho da fonte do texto */
      text-decoration: none; /* Remover sublinhado padrão do link */
    }
  </style>

  <div class="container">
    <a class="button" href="{% url 'tabela_caixa' %}">CAIXA</a>
    <a class="button" href="{% url 'tabela_estado' %}">ESTADO</a>
    <a class="button" href="{% url 'tabela_fnde' %}">FNDE</a>
    <a class="button" href="{% url 'tabela_simec' %}">SIMEC</a>
    <a class="button" href="{% url 'tabela_fns' %}">FNS</a>
    <a class="button" href="{% url 'tabela_entidade' %}">ENTIDADE</a>
    <a class="button">PREVIDÊNCIA</a>
    <a class="button">FGTS</a>
    <a class="button" href="{% url 'visualizar_tabela_rf' %}">RECEITA FEDERAL</a>
    <a class="button">ADMINISTRAÇÃO</a>
    <a class="button">CONTABILIDADE</a>
    <a class="button">INDIVIDUALIZAÇÃO</a>
  </div>
{% endblock container %}