{% extends "base.html" %}

{% load static %}

{% block title %}CAIXA{% endblock title %}

{% block container %}
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%; /* Faz a largura ser responsiva */
      max-width: 1344px; /* Largura máxima para telas grandes */
      margin: auto; /* Centraliza na tela (modifique conforme necessário) */
      padding: 10px; /* Espaço ao redor da grade (ajuste a margem aqui) */
      display: grid;
      grid-template-columns: 1fr; /* Colunas em dispositivos móveis */
      gap: 10px; /* Espaçamento entre os botões */
      justify-content: center;
      align-content: center;
    }

    .button {
      width: 100%; /* Faz a largura do botão ser responsivo */
      max-width: 254px; /* Largura máxima para telas grandes */
      height: 97px;
      margin: 0 auto; /* Centraliza o botão */
      border-radius: 15px;
      background: #0f51a1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
    }

    .texto-destaque {
        color: #0f51a1;
    }

    /* Media queries para ajustes responsivos */
    @media(min-width: 992px) {
      /* Desktops */
      .container {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas para desktops */
      }
    }
  </style>
  
  <h2 class="texto-destaque m-5">CAIXA</h2>

  <div class="container mt-5">
    
    {% for registro in registros %}    
        <a class="button" href="{% url 'selecionar_municipio' municipio_id=registro.municipio.id %}">{{ registro.municipio.municipio }}</a>
    {% endfor %}
        
  </div>
{% endblock container %}