{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block header %}{% endblock header %}

{% block container %}
  <h3 class="m-4">Tabela de Atividades dos Funcionários</h3>
  <div class="row">
    <div class="col-12">
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-header">
          <i class="fa-solid fa-list fa-lg"></i> Registro de Atividades dos Funcionários
        </div>
        <div class="card-body">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>  
          {% endif %}
          <p class="card-text">
            <div class="table-responsive">
              <table class='table table-hover'>
                <thead>
                  <tr>
                    <th scope="col">NOME</th>
                    <th scope="col">ORGÃO/SETOR</th>
                    <th scope="col">MUNICÍPIO</th>
                    <th scope="col">ATIVIDADE</th>
                    <th scope="col">Nº CONVÊNIO</th>
                    <th scope="col">PARLAMENTAR</th>
                    <th scope="col">OBJETO</th>
                    <th scope="col">OGE/OGU</th>
                    <th scope="col">CP-PREFEITURA</th>
                    <th scope="col">VALOR TOTAL</th>
                    <th scope="col">VALOR LIBERADO</th>
                    <th scope="col">FALTA LIBERAR</th>
                    <th scope="col">PRAZO DE VIGÊNCIA</th>
                    <th scope="col">SITUAÇÃO</th>
                    <th scope="col">PROVIDÊNCIA</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">DATA DE RECEPÇÃO</th>
                    <th scope="col">DATA DE ÍNICIO</th>
                    <th scope="col">DOCUMENTO PENDENTE</th>
                    <th scope="col">DOCUMENTO CANCELADO</th>
                    <th scope="col">DATA DO FIM</th>
                    <th scope="col">DURAÇÃO DE DIAS ÚTEIS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for registro in registros %}
                    <tr>
                      <td>{{ registro.nome.nome }}</td>
                      <td>{{ registro.orgao_setor.orgao_setor }}</td>
                      <td>{{ registro.municipio.municipio }}</td>
                      <td>{{ registro.atividade.atividade }}</td>
                      <td>{{ registro.num_convenio }}</td>
                      <td>{{ registro.parlamentar }}</td>
                      <td>{{ registro.objeto }}</td>
                      <td>R$ {{ registro.oge_ogu|floatformat:2|intword }}</td>                    
                      <td>R$ {{ registro.cp_prefeitura|floatformat:2|intword }}</td>
                      <td>R$ {{ registro.calcular_valores.0|floatformat:2|intword }}</td>
                      <td>R$ {{ registro.valor_liberado|floatformat:2|intword }}</td>
                      <td>R$ {{ registro.calcular_valores.1|floatformat:2|intword }}</td>
                      <td>{{ registro.prazo_vigencia }}</td>
                      <td>{{ registro.situacao }}</td>
                      <td>{{ registro.providencia }}</td>
                      <td>{{ registro.status }}</td>
                      <td>{{ registro.data_recepcao }}</td>
                      <td>
                        {% if registro.data_inicio %}
                            {{ registro.data_inicio }}
                        {% else %}
                            Sem data de início
                        {% endif %}
                      </td>
                      <td>{% if registro.documento_pendente %}Sim{% else %}Não{% endif %}</td>
                      <td>{% if registro.documento_cancelado %}Sim{% else %}Não{% endif %}</td>
                      <td>
                        {% if registro.data_fim %}
                            {{ registro.data_fim }}
                        {% else %}
                            Sem data de término
                        {% endif %}
                      </td>
                      <td>{{ registro.dia_trabalho_total }}</td>
                    </tr>
                    <!-- Modal -->
                    {% comment %} {% with dias_restantes=registro.exibir_modal_prazo_vigencia.1 %}
                      {% if dias_restantes <= 30 %}
                        <div class="modal" id="notificationModal{{ registro.id }}" tabindex="-1" aria-labelledby="notificationModalLabel{{ registro.id }}" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="notificationModalLabel{{ registro.id }}">Notificação de Prazo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="customCloseButton">
                                  <span aria-hidden="true"></span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>O convênio {{ registro.num_convenio }} está com o prazo de vigência próximo do seu vencimento. Restam {{ dias_restantes }} dias.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-next-modal="{{ registro.next_modal }}">Next</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="customCloseButton">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Scripts -->
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                        <script>
                          function removeModalBackdrop() {
                            // Adiciona um ouvinte para o evento 'hidden.bs.modal' antes de remover o backdrop
                            $('.modal').on('hidden.bs.modal', function () {
                              $(this).next('.modal-backdrop').remove();
                            });
                          }
                          
                          $(document).ready(function () {
                            // Inicializa todos os modais com id começando por "notificationModal"
                            $('[id^=notificationModal]').modal('show');
                          
                            // Adiciona evento para quando o modal for totalmente fechado
                            $('body').on('hidden.bs.modal', '.modal', function () {
                              // Obtém o ID do próximo modal a ser exibido
                              var nextModalId = $(this).find('[data-next-modal]').data('next-modal');
                          
                              // Verifica se há um próximo modal e o exibe
                              if (nextModalId) {
                                $('#' + nextModalId).modal('show');
                              }
                            });
                          
                            // Adiciona evento ao botão "Close" para chamar a função de remoção do backdrop
                            $('#customCloseButton').on('click', function () {
                              // Oculta o modal antes de remover o backdrop
                              $('[id^=notificationModal]').modal('hide');
                              removeModalBackdrop();
                            });
                          });
                        </script>
                      {% endif %}
                    {% endwith %} {% endcomment %}
                  {% endfor %}
                </tbody>
              </table>

              {% if registros %}
                <p class="m-4">Nº de Registros: {{ registros.count}}</p>
              {% else %}
                <p>registros está vazio ou não está sendo passado corretamente.</p>
              {% endif %}
            </div>
          </p>
        </div>
      </div>
    </div>
  </div> 
  
  
{% endblock container %}
